@model WorkshiftCreateVM

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Добавить смену</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for=@Model.WorkshiftRequest.Date></label>
                    </div>
                    <div class="col-4">
                        <input asp-for=@Model.WorkshiftRequest.Date class="form-control" type="date" />
                        <span asp-validation-for=@Model.WorkshiftRequest.Date class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for=@Model.WorkshiftRequest.ProduceQuantity></label>
                    </div>
                    <div class="col-4 mt-2">
                        <input asp-for=@Model.WorkshiftRequest.ProduceQuantity class="form-control" />
                        <span asp-validation-for=@Model.WorkshiftRequest.ProduceQuantity class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for=@Model.WorkshopSelectList></label>
                    </div>
                    <div class="col-4 mt-2">
                        <select name=WorkshiftRequest.WorkshopId
                        asp-for=WorkshiftRequest.WorkshopId
                        asp-items=@Model.WorkshopSelectList>
                            <option disabled selected>--Выберите цех--</option>
                        </select>
                        <span asp-validation-for=@Model.WorkshiftRequest.WorkshopId class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row mt-2">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Добавить" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"> Назад</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
