@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-5">Тестовое задание в РУСАЛ №1</h2>
    <p>Приложение на ASP.NET Core MVC имитирующее хранение, чтение, редактирование и удаление данных по сменам и цехам на предприятии.</p>
   
</div>
